{% extends 'core/base.html' %}

{% block contenido %}
 <!--form-->
<div id="info">	    
    <h1> Formulario </h1>
</div>
	<form name="datos" action="" onsubmit="return validarFormulario()" method="POST">
        {% csrf_token %}
		<fieldset class="fieldset">
            <div id="info">
                <legend>Datos de contacto</legend>
            </div>
            <div class="form-row">
               <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" autofocus>
                </div>

                 <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" autofocus>
                </div>

                <div class="form-group col-md-6">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" name="correo" autofocus>
                </div>

                <div class="form-group col-md-6">
                    <label for="pais">Nacionalidad</label>
                    <select name="pais" id="pais" class="form-control">
                        <option value="">Elija...</option>

                        {% for n in nacionalidad %}
                            <option value="{{ n.id }}">{{ n.nombre }}</option>
                        {% endfor %}

                        <!--<option value="1">Chile</option>
                        <option value="2">Argentina</option>
                        <option value="3">Brasil</option>
                        <option value="4">Uruguay</option>
                        <option value="5">Peru</option>
                        <option value="6">Mexico</option>-->
                    </select>
                </div>
        </fieldset>
		
		<fieldset class="fieldset">
	 	    <div id="info">
             <legend>Acerca del tour</legend>
            </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="donde">Destino</label>
                        <select name="donde" id="donde" class="form-control">
                            <option value="">Elija...</option>
                            
                            {% for d in destino %}
                            <option value="{{ d.id }}">{{ d.nombre }}</option>
                            {% endfor %}

                             <!--<option value="1">Filipinas, El nido</option>
                            <option value="2">Corea Sur, Seoul</option>
                            <option value="3">Tailandia, Bangkok</option>
                            <option value="4">Taiwán, Taipéi</option>
                            <option value="5">Japón, Tokio</option>
                            <option value="6">China, Hong Kong</option>-->
                        </select>
                    </div>
		
                        <div class="form-group col-md-6">
                            <label for="transporte">Transporte</label>
                            <select name="transporte" id="transporte" class="form-control">
                                <option value="">Elija...</option>

                                {% for t in transporte %}
                                <option value="{{ t.id }}">{{ t.nombre }}</option>
                                {% endfor %}

                                <!-- <option value="1">Bus</option>
                                <option value="2">Avión</option>
                                <option value="3">Barco</option>-->
                            </select>
                        </div>

                        <div class="form-group col-md-6" class="input-group date" data-provide="datepicker" class="form-control">
                            <label for="inicio">Inicio</label>
                            <input type="date" class="form-control" id="inicio" name="inicio" min="2019-10-28">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                </div>

            
                <div class="form-group col-md-6" class="input-group date" data-provide="datepicker">
                    <label for="fin">Fin</label>
                    <input type="date" class="form-control" id="fin" name="fin" max="2020-03-01">
                    <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
                

	    </fieldset>
    	
		<input type="submit" class="btn btn-light"value="Enviar">
		<input type="reset" class="btn btn-light" value="Limpiar">
	
	</form>	
    <h3>{{ mensaje }}</h3>
</div>		
{% endblock contenido %}
