{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!--article-->
	<section id="categorias">
		<section class="uno">
			<img src="{% static 'core/img/project-1-570x380.jpg' %}" height="200"> 
			<h2>Filipinas</h2>
			<p>
				Desde 391 USD
			</p>
            
		</section>

		<section class="dos">
            <img src="{% static 'core/img/project-2-570x380.jpg' %}" height="200">
			<h2>Corea sur</h2>
			<p>
				Desde 670 USD
			</p>

		</section>

		<section class="tres">
			<img src="{% static 'core/img/project-3-570x380.jpg' %}" height="200">
			<h2>Tailandia</h2>
			<p>
				Desde 838 USD
			</p>
     
		</section>
		<div><section class="uno">
			<img src="{% static 'core/img/project-4-570x380.jpg' %}"  height="200"> 
			<h2>Taiwán</h2>
			<p>
				Desde 488 USD
			</p>
         
		</section>

		<section class="dos">
            <img src="{% static 'core/img/project-5-570x380.jpg' %}" height="200">
			<h2>Japón</h2>
			<p>
				Desde 727 USD
			</p>
            
		</section>

		<section class="tres">
			<img src="{% static 'core/img/project-6-570x380.jpg' %}" height="200">
			<h2>China</h2>
			<p>
				Desde 838 USD 
			</p>
           
		</section></div>
	</section>
    <!-- Categorias -->
{% endblock contenido %}