{% extends 'core/base.html' %}

{% block contenido %}
<h2>Listado de clientes</h2>

<table>

    <tr>
        <th> Id </th>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Email </th>
        <th> Inicio </th>
        <th> Fin </th>
        <th> Nacionalidad </th>
        <th> Destino </th>
        <th> Transporte </th>
        <th> Opciones </th>
    </tr>

    {% for c in clientes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.inicio }}</td>
            <td>{{ c.fin }}</td>
            <td>{{ c.nacionalidad.nombre }}</td>
            <td>{{ c.destino.nombre }}</td>
            <td>{{ c.transporte.nombre }}</td>
            <td>
            <a href="{% url 'eliminar_cliente' c.id %}">Eliminar</a>
            <a href="{% url 'modificar_cliente' c.id %}">Modificar</a>
            </td>
        </tr>
    {% endfor %}
    
    <form action="" method="POST">
        Apellido: 
        <input type="text" name="apellido" value="{{apellido}}" style="width:40px" />
        <input type="submit" value="Filtrar">
        {% csrf_token %}
        
        Nombre:
        <input type="text" name="nombre" value="{{nombre}}" style="width:40px" />
        <input type="submit" value="Filtrar">
        {% csrf_token %}
    </form>	
    
    
</table>

{% if messages %}
    {% for m in messages %}
    <div>{{ m }}</div>
    {% endfor %}
{% endif %}

{% endblock contenido %}